.companysec{width: 55%; padding: 20px; background: $color-blue; border-radius: 12px;
    ul li{
        h3{@include text-style(14px, $color-yellow, 400, 24px); text-align: center; margin-bottom: 15px;}
        .companywrap{@include d-flex(30px, row, wrap); font-size: 0; 
            .iconsec{width: 70px;
                figure{width: 70px; height: 70px; text-align: center; border: 1px solid $color-lightgrey; border-radius: 12px; padding: 15px;
                    svg{width: 40px; height: 40px;}
                }
            }
            .companydetail{width: calc(100% - 100px); @include d-flex(10px, column, wrap);
                h4{@include text-style(20px, $color-lightgrey, 400, normal);}
                p{@include text-style(16px, $color-white, 400, normal);}
                span{@include text-style(12px, $color-black, 400, 24px); background: $color-lightgrey; padding: 0px 10px; border-radius: 50px; width: 80px; text-align: center;}
            }
        }
        
    }
}