%center-between {
    justify-content: space-between;
    align-items: center;
}

%center-center {
    justify-content: center;
    align-items: center;
}

%justify-start {
    justify-content: flex-start;
}

%justify-end {
    justify-content: flex-end;
}

%justify-center {
    justify-content: center;
}

%justify-between {
    justify-content: space-between;
}

%justify-around {
    justify-content: space-around;
}

%items-center {
    align-items: center;
}