$primary-font: "Roboto", sans-serif;
$secondary-font: "Saira", sans-serif;

$color-black: #0a101e;
$color-white: #fdfeff;
$color-yellow: #fec544;
$color-lightgrey: #a9adb8;
$color-grey: #2a2f3d;
$color-blue: #07022e;