$primary-font: "Roboto", sans-serif;
$secondary-font: "Saira", sans-serif;

$color-black: #0a101e;
$color-white: #fdfeff;
$color-yellow: #fec544;
$color-lightgrey: #a9adb8;
$color-grey: #2a2f3d;
$color-blue: #14325e;
$color-border: #3c3764;
$color-darkBlue: #0b1c42;

$gradient : linear-gradient(87.41deg, #FFD600 0%, #FF9602 37.67%, #FF9602 90.67%, #dd4c4c 99.45%);