.innerbnrsec{padding: 100px 0; background: url('/images/hero-bg.jpg') no-repeat top center; background-size: cover; border-bottom: 1px solid $color-border;
    h1{@include text-style(50px, $color-lightgrey, 500, 50px); font-family: $secondary-font; text-align: center;}
}