.aboutsec{padding: 70px 0; background: $color-black;}
.experiencesec{padding: 70px 0; background: $color-black; border-top: 1px solid $color-border;}
.skillsec{padding: 70px 0 100px; background: $color-black; border-top: 1px solid $color-border;}
.projectsec{padding: 70px 0; background: $color-black; border-top: 1px solid $color-border;}
.hireme{padding: 70px 0; background: $color-black; border-top: 1px solid $color-border; width: min();}