.aboutwrap{@include d-flex(5%, row, wrap); font-size: 0; align-items: center; background: $color-black;
    .yearsec{width: 40%; @include d-flex(20px, row, wrap);
        .yearwrap{width: 180px; text-align: center;
            h3{@include text-style(80px, $color-yellow, 700, 60px); }
            span{display: inherit; @include text-style(48px, $color-grey, 400, 35px); letter-spacing: 14px; margin-top: 20px; font-family: $secondary-font;}
        }
        .profilesec{width: calc(100% - 200px); text-align: center; align-self: center;
            p{@include text-style(22px, $color-white, 400, 30px);}
            span{display: block; color: $color-yellow; font-weight: 500; margin-top: 5px;}
        }
    }
    .aboutrightsec{width: 55%; padding: 40px 30px; background: #2a2f3d; border-radius: 8px;
        h4{@include text-style(38px, $color-yellow, 500, 46px); margin-bottom: 20px; font-family: $secondary-font;}
        p{@include text-style(17px, $color-grey, 400, 30px);}
    }
}